
.m-p-0{
  margin: 0px ;
  padding: 0px;
}
.size90{
  width: 90%;
}
.width60px{
  width: 60px;
}
.width70px{
 width: 70px;
}
.bordernone{
  border:none;
}
.amount{
  width: 110px;
}
.text-right{
    text-align: right;
}

.fullwidth {

    width:100%;
}


.navbar .noticebar > .smalltxt > a
 {
font-size:12px;
text-transform:uppercase;
color:#fff;
}

.paddingmarginzero {

 padding:0;
 margin:0;
}

.logo {
 text-align:left;
 margin-top:9px;
}


.mainbar {

 background-image:url('../img/bg_strip.png');
 background-repeat:no-repeat; background-position:center; 
    background-size: contain;
}



.h2box {


}

.paddingtop5 {
 padding-top:5px;}

.textbox {

     border:solid 1px #ccc;
     width:99%;
     font-size:12px;
     padding:3px;
     margin:2px;


}



.textbox_dropdown {

     border:solid 1px #ccc;
     width:99%;
     font-size:12px;
         padding: 4px 4px 3px 4px;
     margin:2px;


}




.buttondesign {
         border:solid 1px #0a2e41;
     width:99%;
     font-size:12px;
     padding: 3px 4px 3px 4px;
     margin:2px;
     background:#0a2e41;
     color:#fff;
}

.buttondesign:hover {

     background:#0c3d56;

}

.buttondesign:active {

     background:#000;

}
.btn-bg-red{
    background:#ca0d0d;
    border:solid 1px #ca0d0d;
}
.btn-bg-red:hover{
    background:#ca0d0d;
}



.verticalmenu {

    margin-left: 20px;
    margin-top: 20px;

}


/* Menu */

.menuitem {
 background-color:#f3f3f3;
     padding: 10px 0 5px 0;
}



.menutab {
 border-bottom:1px solid #ccc;
  padding:0;
 
}

.menutab.active {

        border-left:1px solid #de5c46;
}


.menutab.active > .menuitem {

       /*you can use active item*/
}


    .menutab ul  {
 
      border-top:1px solid #ccc;
       border-left:1px solid #ccc;
     list-style:none;
     padding:0;
     margin:0;
    
    }

    .menutab ul li  {
    
  background:#fff;
     padding:2px 0 2px 0;
     border-bottom:1px solid #e6e6e6;
    
    }

    .menutab ul li:hover  {
    
   cursor:pointer;
      background:#0a2e41;
      color:#fff;
    
    }


    .menutab ul  .active  {
    
  
      background:#0a2e41;
      color:#fff;
    
    }



    .menutab ul a  {
    
   text-decoration:none;
     font-size:13px;
   
    }
    .menutab a  {
    
   text-decoration:none;
    color:#222;
   
    }


.unstyled::-webkit-inner-spin-button
 {
    display: none;
    -webkit-appearance: none;
}


.unstyled::-webkit-calendar-picker-indicator {
   background:none;
   color:#484780;
}

.cursorpointer {

 cursor:pointer;
}



.panel a {
}

    .panel a:hover {

        text-decoration:none;

    }

    .panel a:active {

        text-decoration:none;

    }


.redtext {

     color:#ff0000;
}



